<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <form action="/insert" method="post">
        Name <input type="text" name="txtName">
        <span style="color:red">{{errorMsg}}</span> 
        <br>
        Email <input type="text" name="txtEmail">
        <br>
        Age <input type="date" name="txtAge">
        <br>
        Address <input type="text" name="txtAge">
        <br>
        Picture <input type="text" name="txtPicture"/>
        <br>
        <input type="submit" value="Insert Product">
    </form>
 <script type="text/javascript" src="https://itexpress.vn/API/files/it.snow.js"></script>
</body>
</html>