    .TableTraineeDetail {
        margin-top: 50px;
    }
    
    .inputGrade {
        margin-top: 20px;
    }
    
    #addGradeButton {
        margin-left: 150px;
    }
    
    .searchGrade {
        margin-top: 20px;
        margin-left: 1000px;
        margin-bottom: 20px;
    }
    
    #tableGrade {
        width: 95%;
    }
    
    #menuGrade {
        display: block;
    }
    
    #titleGrade {
        text-align: center;
        margin-bottom: 30px;
        color: crimson;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /* --------------------------------------------------------------manage Course-*/
    
    .addCourse {
        margin-top: 30px;
        margin-left: 45px;
    }
    
    #courseTitle {
        text-align: center;
    }
    
    #listCourse {
        margin-top: 30px;
    }
    
    #addCourseForm {
        width: 1000px;
    }