.inputForm {
    background-color: blanchedalmond;
}

.table {
    width: 700px;
    height: 400px;
    margin-left: 30%;
}

footer {
    background-color: rgb(83, 158, 255);
    margin-bottom: 0px;
    height: 40px;
}

footer h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}